/* width */
.categories::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.categories{
  display: flex;
  overflow-x: scroll;
  gap: 5px;
  margin-right: 10px;
  scroll-behavior: smooth;
}

.category{
  padding: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 100ms ease-in;
}

.category:hover{
  opacity: 1;
}

.category:first-child{
  border-bottom: 2px solid #000;
  opacity: 1;
}

.category_image_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_text{
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}

.categories_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.filters{
  display: flex;
}

.right,.left{
  border: 1px solid grey;
  border-radius: 999999999px;
  margin: 0px 5px;
  cursor: pointer;
  margin-right: 10px;
}

.right:hover,.left:hover{
  box-shadow: 0px 0px 5px 1px #bbb;
}

.filters{
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 5px;
  border: 1px solid grey;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
